.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 14px 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, rgba(255,255,255,0.95), rgba(245,245,245,0.9));
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 14px;
  text-decoration: none;
}

.brand-logo {
  height: 70px;
}

.brand-name {
  font-size: 30px;
  font-weight: 900;
  color: #243c8f;
}

.brand-sub {
  font-size: 14px;
  font-weight: 800;
  color: #2e8b57;
  letter-spacing: 3px;
  border-top: 3px solid #2e8b57;
  padding-top: 4px;
}

/* MENU */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
}

.navbar-links a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  color: #333;
  position: relative;
}

.navbar-links a:hover {
  color: #c9a24d;
}

.navbar-links a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 3px;
  background: #c9a24d;
  transform: translateX(-50%);
  transition: 0.3s;
}

.navbar-links a:hover::after {
  width: 100%;
}

.navbar-links a.active {
  color: #fff;
  background: linear-gradient(135deg, #c9a24d, #e6c068);
  padding: 8px 16px;
  border-radius: 20px;
}


.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 26px;
  height: 3px;
  background: #333;
  transition: 0.3s;
}

/* ===== MOBILE ===== */
@media (max-width: 900px) {
  .hamburger {
    display: flex;
  }

  .navbar-links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    flex-direction: column;
    gap: 18px;
    padding: 25px 0;
    display: none;
    box-shadow: 0 15px 30px rgba(0,0,0,0.12);
  }

  .navbar-links.show {
    display: flex;
  }
}
